<li *ngIf="cartItems.length>0"  class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Cart
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let cartItem of cartItems"  class="dropdown-item"><span class="badge bg-primary">{{cartItem.quantity}}</span>{{cartItem.product.productName}}<span (click)="removeFromCart(cartItem.product)" class="badge bg-danger">delete</span></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item btn btn-success">Go to cart</a></li>
    </ul>
  </li>
